header {
	font-family: Arial;
}

.navbarStyle {
	background-color: #666666;
	background-image: none;
}

.padding15px {
	padding: 15px;
}

.paddingTop15px {
	padding-top: 15px;
}

#logo {
	height: 50px;
}

.currentTime {
	width: 65px;
	font-size: 20px;
	padding-right: 0;
	margin-top: 15px;
}

.colorGreen {
	color: #0CFF2E;
}

.bgColorGrey {
	background-color: #666666;
}

.navbar-default .navbar-offcanvas {
	background-color: #666666;
}

.fontSize24px {
	font-size: 24px;
}

.colorWhite {
	color: #FFFFFF;
}

#myNoticeContent, #myMessageContent, #myCollegsContent, #myStudentsContent, #myCalendarContent, #editMyCalendarContent {
	display: none;
}

.colorGrey {
	color: #666666;
}

.fontSize14px {
	font-size: 14px;
}

.noticeDateColor {
	color: #A3A3A3;
}

#content {
	margin-top: 130px;
}

.paddingLeft0 {
	padding-left: 0;
}

.paddingRight0 {
	padding-right: 0;
}

div#myMessageFriendsName.col-md-4>div.col-md-12:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

div#myMessageFriendsName.col-md-4>div.col-md-12 {
	border: 1px solid #666666;
	padding-top: 5px;
}

#myFriendsMessageContent {
	border: 1px solid #666666;
}

.styleForDateInMessage {
	color: #9E9E9E;
	font-size: 14px;
}

.styleForNewMessage {
	background-color: #E5E5E5;
}

.bgColorStudents {
	background-color: #E1E1E1;
}

.imgWidthStudent {  
	width: 150px;
}

.imgWidthSkype {  
	width: 40px;
}

.styleLangLevel {
	width: 150px;
	height: 70px;
	line-height: 70px;
	background-color: #FFFFFF;
	font-size: 20px;
	color: #666666;
}

.paddingLeft40px {
	padding-left: 40px;
}

.bgColorWhite {
	background-color: #FFFFFF;
}

.paddingBottom18px {
	padding-bottom: 18px;
}

.paddingTop18px {
	padding-top: 18px;
}

.padding0 {
	padding: 0;
}

.margin15px {
	margin: 15px;
}

.bgColorForTimeZone {
	background-color: #666666;
}

.colorStudentsText {
	color: #666666;
}

.height40px {
	height: 40px
}

.fontSize30px {
	font-size: 30px;
}

.fontSize12px {
	font-size: 12px;
}

.height34px {
	height: 34px;
}

.lineHeight34px {
	line-height: 34px;
}

.border15pxWhite {
	border: 15px solid #FFFFFF;
}

.myCalendarContentStyle {
	background-color: #E5E5E5;
	font-family: "Arial";
	font-size: 16px;
	color: #666666;
}

.headerBoxesForCalendar {
	width: 100px;
	height: 34px;
}

.boxesForCalendar {
	width: 80px;
	height: 34px;
}

.smallDateColorForCalendar {
	color: #B2B2B2;
}

.borderForBoxesCalendar {
	border: 1px solid #FFFFFF;
}

.lineHeightForBoxes {
	line-height: 34px;
}

.onhover:hover {
	background-color: #FFF568;
	cursor: pointer;
}

.confirmReservationForBoxes {
	background-color: #FFF568;
	color: #FFFFFF;
}

.modal-title {
	padding: 10px;
	background-color: #E6E6E6;
}

#saveButton {
	font-size: 16px;
	background-color: #ED1C24;
	color: #FFFFFF;
	padding: 15px 35px;
}

.bColorForEditCalendar {
	background-color: #3CB878;
}